.header {
  height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  &-nav {
    height: 100%;
    width: 100%;
    background-color: #24c87b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>* {
      margin: 0 1.5rem;
    }
  }
  &-sub {
    background: linear-gradient(
        to left bottom,
        rgba(77, 50, 1, 0.579),
        rgba(255, 166, 0, 0.145)
      ),
      url("../../../assets/header-background.jpeg");
    background-size: cover;
    background-position: left;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 88%);
  }
}
